header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
    width: 100%;
    z-index: 1000;
    height: 60px;
    position: fixed;
}

.headerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 8px;

    h1 {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

@media (min-width: 768px) {
    header {
        height: 90px;
    }
}

@media (max-width: 767px) {

    nav * {
        display: none;
    }

}

.avatar {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: rgba(226, 226, 226, 0.445);
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(128, 128, 128, 0.1);
}

.layout > main > * {
    padding: 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    list-style-type: none;
    width: 100%;
    margin: 0;
}

nav > ul > li {
    border-bottom: 2px solid white;
    transition: border-bottom 200ms ease-in; /* Only transition border-bottom */
}

nav > ul > li:hover {
    border-bottom: 2px solid rgb(var(--primary));
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 90px;
}

main > div {
    height: calc(100vh - 90px);
    overflow-y: scroll;
}

body {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background: #b6b5b5;
    border-radius: 10px;
}

/*@media (min-width: 768px) {*/
/*	main {*/
/*		padding:1rem 1rem 1rem 1rem;*/
/*	}*/
/*}*/
