header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	align-items: center;
	padding: 1rem 0.5rem 0.5rem 0.5rem;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px;
}

.headerTop {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 24px;
	padding-inline: 8px;

	h1 {
		font-size: 20px;
		font-weight: 600;
		margin: 0;
	}
}

.avatar {
	width: 32px;
	height: 32px;
	border: 1px solid gray;
	border-radius: 100%;
	background-color: rgba(226, 226, 226, 0.445);
	padding: 4px;
}

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: rgba(128, 128, 128, 0.1);
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

nav > ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2rem;
	align-items: center;
	list-style-type: none;
	width: 100%;
	margin: 0;
}
nav > ul > li {
	border-bottom: 2px solid white;
	transition: border-bottom 200ms ease-in; /* Only transition border-bottom */
}

nav > ul > li:hover {
	border-bottom: 2px solid black;
}
nav > ul > li > a {
	text-decoration: none;
	color: black;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1rem;
}
