
.zenSentence {
    font-size: 24px;
    margin-inline: auto;
    width: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1.5;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: var(--card-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(0, 0, 0, 0.3);
}

.zenSentence::before {
    content: '“';
    font-size: 48px;
    line-height: 1;
}

.zenSentence::after {
    content: '”';
    font-size: 48px;
    line-height: 1;
}