.articlesList {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.articlesList .articleCard {
	height: calc(var(--page-height) - 60px);
}

@media (min-width: 768px) {
	.articlesList {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1rem;
	}
}

h2 {
	text-transform: capitalize;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	width: 100%;
}
